.translator {
  display: flex;
  gap: 1rem;
  background-color: #2b2d31;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}
textarea {
  width: 100%;
  padding: 10px;
  height: 300px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2b2d31;
  border: 0;
  /* resize: none; */
  outline: none;
  /* text-align: center; */
}
.translator .left-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30%;
  background-color: #313338;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}
.left-section .left-section-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.left-section .left-section-header .title , .title{
  font-size: 1.5rem;
  font-weight: bold;
  color: #854fee;
}
.left-section .left-section-header .icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.left-section .drag-audio-file-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border: 2px dashed #ccc;
  width: 100%;
  height: 300px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  background-color: #2b2d31;
}
.upload-audio-button,.generate-text-button {
  background-color: #854fee;
  color: white;
  padding: 10px 20px !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px !important;
}
.buttons-action{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.left-section .drag-audio-file-area .upload-audio-button:hover, .generate-text-button:hover {
  background-color: #854fee;
}
.left-section .drag-audio-file-area .upload-audio-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.left-section .drag-audio-file-area .upload-audio-button:disabled:hover {
  background-color: #ccc;
}
.left-section .selection-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: #2b2d31;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}
.left-section .selection-box select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #2b2d31;
  color: white;
}

/* right-section design */
.right-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  background-color: #313338;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.right-section .right-section-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.right-section .right-section-header .score-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: #2b2d31;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}
.right-section .right-section-header .score-container .score {
  font-size: 1.2rem;
  font-weight: bold;
  color: #854fee;
}
.right-section .right-section-header .score-container .score-value {
  font-size: 2rem;
  font-size: 1rem;
  color: #ccc;
  font-weight: 700;
}

.right-section .table-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #2b2d31;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}
.right-section .table-container::-webkit-scrollbar {
  width: 8px;
  background-color: #2b2d31;
}
.right-section .table-container table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2b2d31 !important;
  color: white;
  border: none !important;
  border-radius: 8px;
}
.right-section .table-container table th,
.right-section .table-container table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  background-color: #2b2d31 !important;
  color: white;
}
.right-section .table-container table thead tr th {
  background-color: #844fee5d !important;
  color: white;
  font-weight: bold;
}
.right-section .table-container table tbody tr:hover {
  background-color: #854fee !important;
  color: white;
  border: none !important;
  cursor: pointer;
}
.upload-audio-button{
  padding: 5px;
  font-size: 12px;
  background: linear-gradient(90deg, #7b3effa4 45.53%, #00c3ffb0 100%);
}
.left-section{
  width: 35vw !important;
}
